<div class="table-container">
  <h2>Client Tariffs</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Client Name</th>
        <th>Tariff Rate</th>
        <th>Effective Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let c of clientTariffs">
        <td>{{ c.id }}</td>
        <td>{{ c.clientName }}</td>
        <td>{{ c.tariffRate }}</td>
        <td>{{ c.effectiveDate }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteClientTariff(c.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
